{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ COPY.sharing.twitter_handle }}">
<meta name="twitter:image" content="{{ COPY.sharing.twitter_image_url }}" />
<meta name="twitter:descriptions" content="{{ COPY.sharing.twitter_text }}" />
<meta name="twitter:title" content="{{ COPY.sharing.twitter_title }}" />

{# Facebook #}
<meta property="og:title" content="{{ COPY.sharing.facebook_title }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ COPY.sharing.facebook_text }}" />
<meta property="og:image" content="{{ COPY.sharing.facebook_image }}" />
<meta property="og:site_name" content="dailynews.com" />

{# Google News #}
<meta name="thumbnail" content="{{ COPY.sharing.google_news_image_url }}" />
